div{
    height:400px;
    width:300px;
    background-color:blue;
    border:2px dotted black;
    }
    p{
    font-size:40px;
    background-color:black;
    color:white;
    text-align:center;
    text-shadow:4px 4px red;
    }
